<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Letter - Yoyok (PDF Viewer)</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-0 p-0">
    <iframe 
            src="/Request Letter (Yoyok).pdf" 
        class="w-screen h-screen"
        frameborder="0"
    ></iframe>
</body>
</html>
