<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <a href="https://dkst.itb.ac.id/bandung-startup-pitching-day-2024-tarik-minat-investor-lokal-dan-internasional-lewat-kompetisi-
pitching-startup-inovasi/#:~:text=WeFlect%20ID">Reference</a>
    </body>
</html>
